:host {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    .drop-container {
        width: 100%;
        min-height: 100%;
        display: flex;
    }

    .fab-button {
        position: fixed;
        bottom: 15px;
        right: 15px;
        color: white;
        background-color: #4a4ace;
        z-index: 9;
    }

    .file-input {
        width: 100%;
        min-height: 100%;
    }

    mat-card {
        margin: 4px;
        display: flex;
        justify-content: space-between;

        .increase-amount {
            color: green;
        }
    }
}